# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.env
backend-python/venv/


# =========================
# Go
# =========================
bin/
*.exe
*.test
*.out


# =========================
# React / TypeScript / Node
# =========================
frontend_react/node_modules/
frontend_react/build/
frontend_react/dist/
frontend_react/dist-ssr/
frontend_react/.cache/
frontend_react/.local/
frontend_react/coverage/

# Environment files
frontend_react/.env.local
frontend_react/.env.development.local
frontend_react/.env.test.local
frontend_react/.env.production.local

# Logs
frontend_react/*.log
frontend_react/npm-debug.log*
frontend_react/yarn-debug.log*
frontend_react/yarn-error.log*
frontend_react/pnpm-debug.log*
frontend_react/lerna-debug.log*


# =========================
# General OS / Tools
# =========================
.DS_Store
.vscode/
.idea/


# =========================
# Editor & IDE files
# =========================
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
